US_Otsuka_Hyponatremia-Updates-Parallax-CodeBranch/hyponatremiaupdates.com/App_WebReferences/AppatureNexus/Nexus.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.appatureinc.com/api/nexus" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.appatureinc.com/api/nexus" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Nexxus API.  For detailed documentation, please refer to the Nexus API Reference Guide.</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.appatureinc.com/api/nexus">
      <s:element name="Show">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="data" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ShowResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ShowResult" type="tns:NexusResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="NexusResponse">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Code" type="tns:NexusResponseCode" />
          <s:element minOccurs="0" maxOccurs="1" name="Responses" type="tns:ArrayOfString" />
          <s:element minOccurs="0" maxOccurs="1" name="Details" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="NexusResponseCode">
        <s:restriction base="s:string">
          <s:enumeration value="Success" />
          <s:enumeration value="Error" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="Describe">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="data" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DescribeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DescribeResult" type="tns:NexusResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Upsert">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="data" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpsertResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpsertResult" type="tns:NexusResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Create">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="data" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CreateResult" type="tns:NexusResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Update">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="data" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateResult" type="tns:NexusResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Get">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="data" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetResult" type="tns:NexusResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Delete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="data" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DeleteResult" type="tns:NexusResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Match">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="data" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MatchResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MatchResult" type="tns:NexusResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Merge">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="data" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MergeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MergeResult" type="tns:NexusResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Find">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="data" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FindResult" type="tns:NexusResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindIds">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="data" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindIdsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FindIdsResult" type="tns:NexusResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Count">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="data" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CountResult" type="tns:NexusResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListUsers">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="data" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListUsersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListUsersResult" type="tns:NexusResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetServerTimestamp">
        <s:complexType />
      </s:element>
      <s:element name="GetServerTimestampResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetServerTimestampResult" type="tns:NexusResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ShowSoapIn">
    <wsdl:part name="parameters" element="tns:Show" />
  </wsdl:message>
  <wsdl:message name="ShowSoapOut">
    <wsdl:part name="parameters" element="tns:ShowResponse" />
  </wsdl:message>
  <wsdl:message name="DescribeSoapIn">
    <wsdl:part name="parameters" element="tns:Describe" />
  </wsdl:message>
  <wsdl:message name="DescribeSoapOut">
    <wsdl:part name="parameters" element="tns:DescribeResponse" />
  </wsdl:message>
  <wsdl:message name="UpsertSoapIn">
    <wsdl:part name="parameters" element="tns:Upsert" />
  </wsdl:message>
  <wsdl:message name="UpsertSoapOut">
    <wsdl:part name="parameters" element="tns:UpsertResponse" />
  </wsdl:message>
  <wsdl:message name="CreateSoapIn">
    <wsdl:part name="parameters" element="tns:Create" />
  </wsdl:message>
  <wsdl:message name="CreateSoapOut">
    <wsdl:part name="parameters" element="tns:CreateResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateSoapIn">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="UpdateSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="GetSoapIn">
    <wsdl:part name="parameters" element="tns:Get" />
  </wsdl:message>
  <wsdl:message name="GetSoapOut">
    <wsdl:part name="parameters" element="tns:GetResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteSoapIn">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="DeleteSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="MatchSoapIn">
    <wsdl:part name="parameters" element="tns:Match" />
  </wsdl:message>
  <wsdl:message name="MatchSoapOut">
    <wsdl:part name="parameters" element="tns:MatchResponse" />
  </wsdl:message>
  <wsdl:message name="MergeSoapIn">
    <wsdl:part name="parameters" element="tns:Merge" />
  </wsdl:message>
  <wsdl:message name="MergeSoapOut">
    <wsdl:part name="parameters" element="tns:MergeResponse" />
  </wsdl:message>
  <wsdl:message name="FindSoapIn">
    <wsdl:part name="parameters" element="tns:Find" />
  </wsdl:message>
  <wsdl:message name="FindSoapOut">
    <wsdl:part name="parameters" element="tns:FindResponse" />
  </wsdl:message>
  <wsdl:message name="FindIdsSoapIn">
    <wsdl:part name="parameters" element="tns:FindIds" />
  </wsdl:message>
  <wsdl:message name="FindIdsSoapOut">
    <wsdl:part name="parameters" element="tns:FindIdsResponse" />
  </wsdl:message>
  <wsdl:message name="CountSoapIn">
    <wsdl:part name="parameters" element="tns:Count" />
  </wsdl:message>
  <wsdl:message name="CountSoapOut">
    <wsdl:part name="parameters" element="tns:CountResponse" />
  </wsdl:message>
  <wsdl:message name="ListUsersSoapIn">
    <wsdl:part name="parameters" element="tns:ListUsers" />
  </wsdl:message>
  <wsdl:message name="ListUsersSoapOut">
    <wsdl:part name="parameters" element="tns:ListUsersResponse" />
  </wsdl:message>
  <wsdl:message name="GetServerTimestampSoapIn">
    <wsdl:part name="parameters" element="tns:GetServerTimestamp" />
  </wsdl:message>
  <wsdl:message name="GetServerTimestampSoapOut">
    <wsdl:part name="parameters" element="tns:GetServerTimestampResponse" />
  </wsdl:message>
  <wsdl:portType name="NexusSoap">
    <wsdl:operation name="Show">
      <wsdl:input message="tns:ShowSoapIn" />
      <wsdl:output message="tns:ShowSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Describe">
      <wsdl:input message="tns:DescribeSoapIn" />
      <wsdl:output message="tns:DescribeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Upsert">
      <wsdl:input message="tns:UpsertSoapIn" />
      <wsdl:output message="tns:UpsertSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Create">
      <wsdl:input message="tns:CreateSoapIn" />
      <wsdl:output message="tns:CreateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input message="tns:UpdateSoapIn" />
      <wsdl:output message="tns:UpdateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Get">
      <wsdl:input message="tns:GetSoapIn" />
      <wsdl:output message="tns:GetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input message="tns:DeleteSoapIn" />
      <wsdl:output message="tns:DeleteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Match">
      <wsdl:input message="tns:MatchSoapIn" />
      <wsdl:output message="tns:MatchSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Merge">
      <wsdl:input message="tns:MergeSoapIn" />
      <wsdl:output message="tns:MergeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Find">
      <wsdl:input message="tns:FindSoapIn" />
      <wsdl:output message="tns:FindSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FindIds">
      <wsdl:input message="tns:FindIdsSoapIn" />
      <wsdl:output message="tns:FindIdsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Count">
      <wsdl:input message="tns:CountSoapIn" />
      <wsdl:output message="tns:CountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListUsers">
      <wsdl:input message="tns:ListUsersSoapIn" />
      <wsdl:output message="tns:ListUsersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetServerTimestamp">
      <wsdl:input message="tns:GetServerTimestampSoapIn" />
      <wsdl:output message="tns:GetServerTimestampSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NexusSoap" type="tns:NexusSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Show">
      <soap:operation soapAction="http://www.appatureinc.com/api/nexus/Show" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Describe">
      <soap:operation soapAction="http://www.appatureinc.com/api/nexus/Describe" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Upsert">
      <soap:operation soapAction="http://www.appatureinc.com/api/nexus/Upsert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Create">
      <soap:operation soapAction="http://www.appatureinc.com/api/nexus/Create" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://www.appatureinc.com/api/nexus/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get">
      <soap:operation soapAction="http://www.appatureinc.com/api/nexus/Get" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://www.appatureinc.com/api/nexus/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Match">
      <soap:operation soapAction="http://www.appatureinc.com/api/nexus/Match" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Merge">
      <soap:operation soapAction="http://www.appatureinc.com/api/nexus/Merge" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Find">
      <soap:operation soapAction="http://www.appatureinc.com/api/nexus/Find" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindIds">
      <soap:operation soapAction="http://www.appatureinc.com/api/nexus/FindIds" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Count">
      <soap:operation soapAction="http://www.appatureinc.com/api/nexus/Count" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListUsers">
      <soap:operation soapAction="http://www.appatureinc.com/api/nexus/ListUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServerTimestamp">
      <soap:operation soapAction="http://www.appatureinc.com/api/nexus/GetServerTimestamp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Nexus">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Nexxus API.  For detailed documentation, please refer to the Nexus API Reference Guide.</wsdl:documentation>
    <wsdl:port name="NexusSoap" binding="tns:NexusSoap">
      <soap:address location="https://api.appatureinc.com/api/Nexus.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>